.dashboard {
  display:flex;
  min-height:100vh;
  background:#eef2ff;
}


/* Sidebar */

.sidebar {
  width:260px;
  min-height:100vh;
  background:linear-gradient(180deg,#1e3a8a,#2563eb);
  color:white;
  padding:25px;
}


.logo {
  font-size:28px;
  margin-bottom:40px;
  font-weight:700;
}


.sidebar ul {
  list-style:none;
  padding:0;
}


.sidebar li {
  margin:18px 0;
}


.sidebar a {
  color:white;
  text-decoration:none;
  display:flex;
  align-items:center;
  gap:15px;
  padding:14px;
  border-radius:12px;
  transition:0.3s;
}


.sidebar a:hover {
  background:rgba(255,255,255,0.2);
  transform:translateX(5px);
}


.logout {
  margin-top:50px;
  width:100%;
  padding:13px;
  border:none;
  border-radius:12px;
  background:#dc2626;
  color:white;
  cursor:pointer;
  font-size:16px;
}



/* Main */

.main {
  flex:1;
  padding:35px;
}



/* Topbar */

.topbar {
  background:white;
  padding:22px;
  border-radius:20px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  box-shadow:0 10px 25px rgba(0,0,0,0.08);
}


.topbar h2 {
  color:#1e293b;
}


.profile {
  display:flex;
  align-items:center;
  gap:15px;
  background:#eff6ff;
  padding:10px 18px;
  border-radius:30px;
  color:#2563eb;
}



/* Cards */

.cards {
  margin-top:30px;
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:25px;
}


.card {
  background:white;
  padding:25px;
  border-radius:20px;
  box-shadow:0 10px 25px rgba(0,0,0,0.08);
  transition:0.3s;
  border-left:6px solid #2563eb;
}


.card:hover {
  transform:translateY(-8px);
}


.card h3 {
  color:#64748b;
}


.card h2 {
  font-size:40px;
  color:#2563eb;
}


/* Charts */

.charts {
  margin-top:35px;
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:25px;
}


.chart-box {
  background:white;
  padding:25px;
  border-radius:20px;
  box-shadow:0 10px 25px rgba(0,0,0,0.08);
}



/* Tables */

.table-box {
  background:white;
  padding:25px;
  border-radius:20px;
  margin-top:30px;
  box-shadow:0 10px 25px rgba(0,000,0,0.08);
}


table {
  width:100%;
  border-collapse:collapse;
}


th {
  background:#2563eb;
  color:white;
  padding:15px;
}


td {
  padding:15px;
  border-bottom:1px solid #e2e8f0;
}


tr:hover {
  background:#f8fafc;
}



/* Responsive */

@media(max-width:1100px){

.cards{
grid-template-columns:repeat(2,1fr);
}

}


@media(max-width:700px){

.dashboard{
flex-direction:column;
}

.sidebar{
width:auto;
}

.cards{
grid-template-columns:1fr;
}

.charts{
grid-template-columns:1fr;
}

}