.dashboard {

  display:flex;
  min-height:100vh;
  background:#f1f5f9;

}



/* Sidebar */

.sidebar {

  width:260px;
  min-height:100vh;
  background:#0f172a;
  color:white;
  padding:25px;

}



.logo {

  color:white;
  font-size:26px;
  margin-bottom:35px;

}



.sidebar ul {

  list-style:none;
  padding:0;

}



.sidebar li {

  margin:15px 0;

}



.sidebar a {

  color:white;
  text-decoration:none;
  display:flex;
  align-items:center;
  gap:12px;
  padding:12px;
  border-radius:10px;

}



.sidebar a:hover {

  background:#2563eb;

}



.logout {

  margin-top:40px;
  width:100%;
  padding:12px;
  background:#ef4444;
  color:white;
  border:none;
  border-radius:10px;
  cursor:pointer;
  display:flex;
  align-items:center;
  justify-content:center;
  gap:10px;

}





/* Main */


.main {

  flex:1;
  padding:30px;

}





/* Topbar */


.topbar {

  background:white;
  padding:20px;
  border-radius:15px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  box-shadow:0 5px 15px rgba(0,0,0,0.08);

}



.profile {

  display:flex;
  gap:15px;
  align-items:center;
  color:#334155;

}





/* Cards */


.cards {

  margin-top:25px;
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:20px;

}



.card {

  background:white;
  padding:25px;
  border-radius:15px;
  box-shadow:0 5px 15px rgba(0,0,0,0.08);
  border-top:5px solid #2563eb;
  transition:0.3s;

}



.card:hover {

  transform:translateY(-5px);

}



.card h3 {

  color:#475569;

}



.card h2 {

  font-size:35px;
  color:#2563eb;
  margin:10px 0;

}



.card p {

  color:#64748b;

}





/* Charts */


.charts {

  margin-top:30px;
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:25px;

}



.chart-box {

  background:white;
  padding:25px;
  border-radius:15px;
  box-shadow:0 5px 15px rgba(0,0,0,0.08);
  height:350px;

}



.chart-box h2 {

  color:#1e293b;
  margin-bottom:15px;

}



.chart-box canvas {

  max-height:250px !important;

}





/* Tables */


.table-box {

  background:white;
  padding:25px;
  border-radius:15px;
  margin-top:30px;
  box-shadow:0 5px 15px rgba(0,0,0,0.08);

}



.table-box h2 {

  color:#1e293b;
  margin-bottom:20px;

}



table {

  width:100%;
  border-collapse:collapse;

}



th {

  background:#2563eb;
  color:white;
  padding:14px;
  text-align:left;

}



td {

  padding:14px;
  border-bottom:1px solid #e2e8f0;
  color:#334155;

}



tr:hover {

  background:#f8fafc;

}





/* Responsive */


@media(max-width:1100px){


.cards {

grid-template-columns:repeat(2,1fr);

}


.charts {

grid-template-columns:1fr;

}


}




@media(max-width:700px){


.dashboard {

flex-direction:column;

}



.sidebar {

width:auto;

}



.cards {

grid-template-columns:1fr;

}



.main {

padding:15px;

}


}