.policies-page {
  padding: 25px;
  background: #f8fafc;
  min-height: 100vh;
}


.policies-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}


.policies-header h1 {
  display: flex;
  gap: 10px;
  align-items: center;
  color: #1e293b;
}


.add-btn {
  background:#2563eb;
  color:white;
  border:none;
  padding:12px 18px;
  border-radius:10px;
  cursor:pointer;
}



.form-box {

  background:white;
  padding:25px;
  border-radius:15px;
  margin-bottom:25px;

}


.form-box input {

  width:100%;
  padding:12px;
  margin-bottom:15px;
  border:1px solid #cbd5e1;
  border-radius:8px;

}



.save-btn {

  background:#16a34a;
  color:white;
  border:none;
  padding:12px 20px;
  border-radius:10px;
  cursor:pointer;

}



.policies-table {

  background:white;
  padding:20px;
  border-radius:15px;

}



table {

 width:100%;
 border-collapse:collapse;

}


th {

 background:#2563eb;
 color:white;
 padding:14px;
 text-align:left;

}


td {

 padding:14px;
 border-bottom:1px solid #e2e8f0;

}



.approved {

 background:#dcfce7;
 color:#15803d;
 padding:6px 12px;
 border-radius:20px;

}



.pending {

 background:#fef3c7;
 color:#b45309;
 padding:6px 12px;
 border-radius:20px;

}



.edit-btn {

 background:#2563eb;
 color:white;
 border:none;
 padding:8px 14px;
 border-radius:8px;
 margin-right:10px;

}



.delete-btn {

 background:#ef4444;
 color:white;
 border:none;
 padding:8px 14px;
 border-radius:8px;

}